
body {
	background: #d2d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, helvetica, sans-serif;
}

#principal {
	width: 900px;
}
.menu{
	background: #c5c5b2;
	padding: 18px;	
}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
}
.conteudo{
	background: #eBeBd9;
	padding: 10px;
}
#rodape{
	text-align: center;
}
.img-campanhas{
	border: 10px solid #c3c3ae;
}